<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    
    <i class="lock fas fa-unlock fa-6x"></i>
    <a class="btn btn-dark btn-lg" href="/logout" role="button">Logout</a>

  </div>
</div>

<%- include('partials/footer') %>